.img-box {
	width: 650px;
	height: 530px;
	position: absolute;
	overflow: hidden;
	background: red;

	img {
		width: 100%;
		height: auto;
	}
}
.watermark-box {
	// width: 50px;
	// height: 30px;
	position: absolute;
	background: green;

	img {
		width: auto;
		height: 100%;
	}
}