.img-box {
	width: 650px;
	height: 530px;
	position: absolute;
	overflow: hidden;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.watermark-box {
	position: absolute;

	img {
		max-width: 100%;
		max-height: 100%;
		cursor: move;
		float: left;
	}
}