.workarea{
	width: 700px;
	height: 670px;
	background: #676262;
	display: inline-block;
	vertical-align: top;
	}

.workarea__header{
	color: #fff;
	font-family: "SegoeUILight";
	font-weight: normal;
	margin-left: 23px;
	font-size: 36px;
	margin-top: 9px;
	text-align: left;
}

.workarea-box{
	width: 650px;
	height: 530px;
	margin-top: 55px;
	margin-left: 23px;
	// background: #fff;
	position: relative;
	background: #fff url("../img/wa_background.jpg");
	background-size: cover;
}