.settings-box__section {
	margin-bottom: 20px;
	
	&:last-child {
		margin-bottom: 0;
	}
	
	&_label {
		display: block;
		
		&:hover .icon-upload {
			background-color: #EF6157;
		}
	}
	
	&_heading {
		color: #2e3641;
		font-size: 14px;
		display: block;
		text-align: left;
		margin-bottom: 8px;
	}
	
	
	& .input-upload {
		width: 180px;
		padding: 4px 5px;
		height: 27px;
		display: inline-block;
		border: 1px solid #9eb2c0;
		cursor: pointer;
		text-align: left;
		border-right: 0;
		box-sizing: border-box;
		vertical-align: middle;
		border-radius: 3px 0 0 3px;
		color: #9eb2c0;
		font-size: 12px;
		white-space: nowrap;
		overflow:hidden !important;
		text-overflow: ellipsis;
		background: #f1f1f5;
		cursor: default
	}
	
	& .icon-upload {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		width: 39px;
		height: 27px;
		background-color: #f97e76;
		box-sizing: border-box;
		border-radius: 0 3px 3px 0;
		position: relative;
		@include hide-text;
		
		
		&:before {
			content: '';
			@include sprite($icon-download);
			@include center;
		}
	}

}
.hidden-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.alertFileType {
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 20px;
	background: #C74E4E;
	color: #fff;
	border-radius: 5px;
	display: none;
}
.progress-bar {
	position: fixed;
	height: 10px;
	background-color: #B13636;
	top: 0;
	width: 0;
	display: none;
}