aside.settings
	.settings__title Настройки
	.settings__element-upload
		.settings__original-img
			label.settings__name Исходное изображение
				input.settings__img-upload
		.settings__watermark-img
			label.settings__name Водяной знак
				input.settings__img-upload
	.settings__element-divider
	.settings__element-img-position
		span.settings__name Положение
	.settings__element-divider
	.settings__element-opacity
		span.settings__name Прозрачность
		.slider
	.settings__element-divider
	.settings__element-buttons
		input(type="submit" class="settings__button settings__button--submit" value="Скачать")
		input(type="reset" class="settings__button settings__button--reset" value="Сброс")
		
	





