aside.settings
	.settings__cover
	.settings__title#asideTitle Настройки
	form(id="main-form" action="php/image.php" enctype="multipart/form-data" method="post")
		.settings-box.settings-box_upload
			include ../include/upload
		.settings-divider
		.settings-box.settings-box_img-position
			include ../include/move
		.settings-divider
		.settings-box.settings-box_opacity
			span.settings-box__name#opacity Прозрачность
			include ../include/opacity
		.settings-divider
		.settings-box.settings-box_buttons
			input.settings-box__button.settings-box__button_submit#submit(type="submit" value="Скачать")
			input.settings-box__button.settings-box__button_reset#reset(type="reset" value="Сброс")
