.fix-social
	.lang-buttons
		.lang-block.lang-rus#ru
			a(href="#").lang__link РУС
		.lang-block.lang-eng#en
			a(href="#").lang__link ENG
	.soc-buttons
		.soc-thumbsup
		ul.soc-icons-container
				li(class="soc-icons-item")
					a(href="javascript://" class="soc-icons__link-fb" id="fb")
				li(class="soc-icons-item")
					a(href="javascript://" class="soc-icons__link-tw" id="tw")
				li(class="soc-icons-item")
					a(href="javascript://" class="soc-icons__link-vk" id="vk")