footer.footer
	.container
		span.footer-text
			| © 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его

script(src='bower/jquery/dist/jquery.min.js' type='text/javascript')
script(src='bower/jquery-ui/jquery-ui.min.js' type='text/javascript')
script(src='js/main.min.js' type='text/javascript')
