ul.settings-box__img-position-list
	li.settings-box__img-position-item_top
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
	li.settings-box__img-position-item_middle
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
	li.settings-box__img-position-item_bottom
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
.settings-box__img-position-coordinates
	fieldset.settings-box__img-position-coordinates_x
			label(for="x-coordinates") x
			input(name="x-coordinates" type="text")
	fieldset.settings-box__img-position-coordinates_y
			label(for="y-coordinates") y
			input(name="y-coordinates" type="text")
