span.settings-box__name.settings-box__name_float#position Положение
.settings-box-switch
	.settings-box__cover
	a.settings-box-switch__link.settings-box-switch__link_tile#tileSwitch(href='#')
	a.settings-box-switch__link.settings-box-switch__link_one#oneSwitch(href='#')
ul.settings-box__list
	.cover-box
		.cover-box__line_horisontal#lineH
		.cover-box__line_vertical#lineV
	li.settings-box__item
		a(href="#").settings-box__link#top-left
	li.settings-box__item
		a(href="#").settings-box__link#top-middle
	li.settings-box__item
		a(href="#").settings-box__link#top-right
	li.settings-box__item
		a(href="#").settings-box__link#middle-left
	li.settings-box__item
		a(href="#").settings-box__link#middle-middle
	li.settings-box__item
		a(href="#").settings-box__link#middle-right
	li.settings-box__item
		a(href="#").settings-box__link#bottom-left
	li.settings-box__item
		a(href="#").settings-box__link#bottom-middle
	li.settings-box__item
		a(href="#").settings-box__link#bottom-right
.settings-box-coordinates
	.settings-box__coordinates-container
		.settings-box__coordinates.settings-box__coordinates_x
				label(for="x-coordinates" class="coordinates-label coordinates-label-x")
				input(id="coordinatesX" name="x-coordinates" type="text" class="settings-box__input settings-box__input_x" value="0" readonly)
				input(id="originalX" name="x-original" type="text" class="hidden-input" value="0" readonly)

	.settings-box__coordinates-container
		.settings-box__coordinates.settings-box__coordinates_y
				label(for="y-coordinates" class="coordinates-label coordinates-label-y")
				input(id="coordinatesY" name="y-coordinates" type="text" class="settings-box__input settings-box__input_y" value="0" readonly)
				input(id="originalY" name="y-original" type="text" class="hidden-input" value="0" readonly)