ul.settings-box__img-position-list
	li.settings-box__img-position-item_top
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
	li.settings-box__img-position-item_middle
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
	li.settings-box__img-position-item_bottom
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
		a(href="#").settings-box__img-position-link#position-link
.settings-box__img-position-coordinates
	.settings-box__coordinates-container
		.settings-box__coordinates_x
				label(for="x-coordinates" class="coordinates-label") x
				input(name="x-coordinates" type="text" class="settings-box__input_x" disabled)
				.coordinates-link-container
					a(href="#").settings-box__link.settings-box__link-x-top#increment-link
					a(href="#").settings-box__link.settings-box__link-x-bottom#increment-link
	.settings-box__coordinates-container
		.settings-box__coordinates_y
				label(for="y-coordinates" class="coordinates-label") y
				input(name="y-coordinates" type="text" class="settings-box__input_y" disabled)
				.coordinates-link-container
					a(href="#").settings-box__link.settings-box__link-y-top#increment-link
					a(href="#").settings-box__link.settings-box__link-y-bottom#increment-link
