ul.settings-box__list
	li.settings-box__item
		a(href="#").settings-box__link#top-left
	li.settings-box__item
		a(href="#").settings-box__link#top-middle
	li.settings-box__item
		a(href="#").settings-box__link#top-right
	li.settings-box__item
		a(href="#").settings-box__link#middle-left
	li.settings-box__item
		a(href="#").settings-box__link#middle-middle
	li.settings-box__item
		a(href="#").settings-box__link#middle-right
	li.settings-box__item
		a(href="#").settings-box__link#bottom-left
	li.settings-box__item
		a(href="#").settings-box__link#bottom-middle
	li.settings-box__item
		a(href="#").settings-box__link#bottom-right
.settings-box-coordinates
	.settings-box__coordinates-container
		.settings-box__coordinates.settings-box__coordinates_x
				label(for="x-coordinates" class="coordinates-label") X
				input(id="x-coordinates" name="x-coordinates" type="text" class="settings-box__input settings-box__input_x" value="0")
				.coordinates-link-container
					a(href="#").settings-box__coordinates-link.settings-box__coordinates-link_top#incrementX
					a(href="#").settings-box__coordinates-link.settings-box__coordinates-link_bottom#decrementX
	.settings-box__coordinates-container
		.settings-box__coordinates.settings-box__coordinates_y
				label(for="y-coordinates" class="coordinates-label") Y
				input(id="y-coordinates" name="y-coordinates" type="text" class="settings-box__input settings-box__input_y" value="0")
				.coordinates-link-container
					a(href="#").settings-box__coordinates-link.settings-box__coordinates-link_top#incrementY
					a(href="#").settings-box__coordinates-link.settings-box__coordinates-link_bottom#decrementY
