.settings-box__original-img
	label.settings-box__name Исходное изображение
		input.settings-box__img-upload
.settings-box__watermark-img
	label.settings-box__name Водяной знак
		input.settings-box__img-upload