.settings-box__section 
	.settings-box__section_heading Исходное изображение
	input(class="settings-box__section_img input-image" name="files[]" data-url="server/" id="upload_img" type="file")
	label(for="upload_img" class="settings-box__section_label")
		span.input-upload Выберите картинку
		span.icon-upload Выбрать картинку

.settings-box__section
	.settings-box__section_heading Водяной знак
	input(class="settings-box__section_img input-image" name="files[]" data-url="server/" id="upload_watermark" type="file")
	label(for="upload_watermark" class="settings-box__section_label")
		span.input-upload Выберите картинку
		span.icon-upload Выбрать картинку