/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-bottom-hover-name: 'arrow-bottom-hover';
$arrow-bottom-hover-x: 31px;
$arrow-bottom-hover-y: 0px;
$arrow-bottom-hover-offset-x: -31px;
$arrow-bottom-hover-offset-y: 0px;
$arrow-bottom-hover-width: 13px;
$arrow-bottom-hover-height: 8px;
$arrow-bottom-hover-total-width: 829px;
$arrow-bottom-hover-total-height: 32px;
$arrow-bottom-hover-image: '../img/sprite.png';
$arrow-bottom-hover: (31px, 0px, -31px, 0px, 13px, 8px, 829px, 32px, '../img/sprite.png', 'arrow-bottom-hover', );
$arrow-bottom-name: 'arrow-bottom';
$arrow-bottom-x: 130px;
$arrow-bottom-y: 0px;
$arrow-bottom-offset-x: -130px;
$arrow-bottom-offset-y: 0px;
$arrow-bottom-width: 13px;
$arrow-bottom-height: 8px;
$arrow-bottom-total-width: 829px;
$arrow-bottom-total-height: 32px;
$arrow-bottom-image: '../img/sprite.png';
$arrow-bottom: (130px, 0px, -130px, 0px, 13px, 8px, 829px, 32px, '../img/sprite.png', 'arrow-bottom', );
$arrow-left-right-name: 'arrow-left-right';
$arrow-left-right-x: 696px;
$arrow-left-right-y: 0px;
$arrow-left-right-offset-x: -696px;
$arrow-left-right-offset-y: 0px;
$arrow-left-right-width: 29px;
$arrow-left-right-height: 9px;
$arrow-left-right-total-width: 829px;
$arrow-left-right-total-height: 32px;
$arrow-left-right-image: '../img/sprite.png';
$arrow-left-right: (696px, 0px, -696px, 0px, 29px, 9px, 829px, 32px, '../img/sprite.png', 'arrow-left-right', );
$arrow-top-bottom-name: 'arrow-top-bottom';
$arrow-top-bottom-x: 0px;
$arrow-top-bottom-y: 0px;
$arrow-top-bottom-offset-x: 0px;
$arrow-top-bottom-offset-y: 0px;
$arrow-top-bottom-width: 11px;
$arrow-top-bottom-height: 30px;
$arrow-top-bottom-total-width: 829px;
$arrow-top-bottom-total-height: 32px;
$arrow-top-bottom-image: '../img/sprite.png';
$arrow-top-bottom: (0px, 0px, 0px, 0px, 11px, 30px, 829px, 32px, '../img/sprite.png', 'arrow-top-bottom', );
$arrow-top-hover-name: 'arrow-top-hover';
$arrow-top-hover-x: 64px;
$arrow-top-hover-y: 0px;
$arrow-top-hover-offset-x: -64px;
$arrow-top-hover-offset-y: 0px;
$arrow-top-hover-width: 13px;
$arrow-top-hover-height: 8px;
$arrow-top-hover-total-width: 829px;
$arrow-top-hover-total-height: 32px;
$arrow-top-hover-image: '../img/sprite.png';
$arrow-top-hover: (64px, 0px, -64px, 0px, 13px, 8px, 829px, 32px, '../img/sprite.png', 'arrow-top-hover', );
$arrow-top-name: 'arrow-top';
$arrow-top-x: 97px;
$arrow-top-y: 0px;
$arrow-top-offset-x: -97px;
$arrow-top-offset-y: 0px;
$arrow-top-width: 13px;
$arrow-top-height: 8px;
$arrow-top-total-width: 829px;
$arrow-top-total-height: 32px;
$arrow-top-image: '../img/sprite.png';
$arrow-top: (97px, 0px, -97px, 0px, 13px, 8px, 829px, 32px, '../img/sprite.png', 'arrow-top', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 163px;
$fb-hover-y: 0px;
$fb-hover-offset-x: -163px;
$fb-hover-offset-y: 0px;
$fb-hover-width: 15px;
$fb-hover-height: 27px;
$fb-hover-total-width: 829px;
$fb-hover-total-height: 32px;
$fb-hover-image: '../img/sprite.png';
$fb-hover: (163px, 0px, -163px, 0px, 15px, 27px, 829px, 32px, '../img/sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 198px;
$fb-y: 0px;
$fb-offset-x: -198px;
$fb-offset-y: 0px;
$fb-width: 15px;
$fb-height: 27px;
$fb-total-width: 829px;
$fb-total-height: 32px;
$fb-image: '../img/sprite.png';
$fb: (198px, 0px, -198px, 0px, 15px, 27px, 829px, 32px, '../img/sprite.png', 'fb', );
$icon-download-name: 'icon-download';
$icon-download-x: 467px;
$icon-download-y: 0px;
$icon-download-offset-x: -467px;
$icon-download-offset-y: 0px;
$icon-download-width: 21px;
$icon-download-height: 16px;
$icon-download-total-width: 829px;
$icon-download-total-height: 32px;
$icon-download-image: '../img/sprite.png';
$icon-download: (467px, 0px, -467px, 0px, 21px, 16px, 829px, 32px, '../img/sprite.png', 'icon-download', );
$oneoff-hover-name: 'oneoff-hover';
$oneoff-hover-x: 311px;
$oneoff-hover-y: 0px;
$oneoff-hover-offset-x: -311px;
$oneoff-hover-offset-y: 0px;
$oneoff-hover-width: 19px;
$oneoff-hover-height: 19px;
$oneoff-hover-total-width: 829px;
$oneoff-hover-total-height: 32px;
$oneoff-hover-image: '../img/sprite.png';
$oneoff-hover: (311px, 0px, -311px, 0px, 19px, 19px, 829px, 32px, '../img/sprite.png', 'oneoff-hover', );
$oneoff-name: 'oneoff';
$oneoff-x: 233px;
$oneoff-y: 0px;
$oneoff-offset-x: -233px;
$oneoff-offset-y: 0px;
$oneoff-width: 19px;
$oneoff-height: 19px;
$oneoff-total-width: 829px;
$oneoff-total-height: 32px;
$oneoff-image: '../img/sprite.png';
$oneoff: (233px, 0px, -233px, 0px, 19px, 19px, 829px, 32px, '../img/sprite.png', 'oneoff', );
$oneon-name: 'oneon';
$oneon-x: 389px;
$oneon-y: 0px;
$oneon-offset-x: -389px;
$oneon-offset-y: 0px;
$oneon-width: 19px;
$oneon-height: 19px;
$oneon-total-width: 829px;
$oneon-total-height: 32px;
$oneon-image: '../img/sprite.png';
$oneon: (389px, 0px, -389px, 0px, 19px, 19px, 829px, 32px, '../img/sprite.png', 'oneon', );
$thumbsup-hover-name: 'thumbsup-hover';
$thumbsup-hover-x: 554px;
$thumbsup-hover-y: 0px;
$thumbsup-hover-offset-x: -554px;
$thumbsup-hover-offset-y: 0px;
$thumbsup-hover-width: 26px;
$thumbsup-hover-height: 32px;
$thumbsup-hover-total-width: 829px;
$thumbsup-hover-total-height: 32px;
$thumbsup-hover-image: '../img/sprite.png';
$thumbsup-hover: (554px, 0px, -554px, 0px, 26px, 32px, 829px, 32px, '../img/sprite.png', 'thumbsup-hover', );
$thumbsup-name: 'thumbsup';
$thumbsup-x: 508px;
$thumbsup-y: 0px;
$thumbsup-offset-x: -508px;
$thumbsup-offset-y: 0px;
$thumbsup-width: 26px;
$thumbsup-height: 32px;
$thumbsup-total-width: 829px;
$thumbsup-total-height: 32px;
$thumbsup-image: '../img/sprite.png';
$thumbsup: (508px, 0px, -508px, 0px, 26px, 32px, 829px, 32px, '../img/sprite.png', 'thumbsup', );
$tileoff-hover-name: 'tileoff-hover';
$tileoff-hover-x: 428px;
$tileoff-hover-y: 0px;
$tileoff-hover-offset-x: -428px;
$tileoff-hover-offset-y: 0px;
$tileoff-hover-width: 19px;
$tileoff-hover-height: 19px;
$tileoff-hover-total-width: 829px;
$tileoff-hover-total-height: 32px;
$tileoff-hover-image: '../img/sprite.png';
$tileoff-hover: (428px, 0px, -428px, 0px, 19px, 19px, 829px, 32px, '../img/sprite.png', 'tileoff-hover', );
$tileoff-name: 'tileoff';
$tileoff-x: 272px;
$tileoff-y: 0px;
$tileoff-offset-x: -272px;
$tileoff-offset-y: 0px;
$tileoff-width: 19px;
$tileoff-height: 19px;
$tileoff-total-width: 829px;
$tileoff-total-height: 32px;
$tileoff-image: '../img/sprite.png';
$tileoff: (272px, 0px, -272px, 0px, 19px, 19px, 829px, 32px, '../img/sprite.png', 'tileoff', );
$tileon-name: 'tileon';
$tileon-x: 350px;
$tileon-y: 0px;
$tileon-offset-x: -350px;
$tileon-offset-y: 0px;
$tileon-width: 19px;
$tileon-height: 19px;
$tileon-total-width: 829px;
$tileon-total-height: 32px;
$tileon-image: '../img/sprite.png';
$tileon: (350px, 0px, -350px, 0px, 19px, 19px, 829px, 32px, '../img/sprite.png', 'tileon', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 600px;
$tw-hover-y: 0px;
$tw-hover-offset-x: -600px;
$tw-hover-offset-y: 0px;
$tw-hover-width: 28px;
$tw-hover-height: 22px;
$tw-hover-total-width: 829px;
$tw-hover-total-height: 32px;
$tw-hover-image: '../img/sprite.png';
$tw-hover: (600px, 0px, -600px, 0px, 28px, 22px, 829px, 32px, '../img/sprite.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 648px;
$tw-y: 0px;
$tw-offset-x: -648px;
$tw-offset-y: 0px;
$tw-width: 28px;
$tw-height: 22px;
$tw-total-width: 829px;
$tw-total-height: 32px;
$tw-image: '../img/sprite.png';
$tw: (648px, 0px, -648px, 0px, 28px, 22px, 829px, 32px, '../img/sprite.png', 'tw', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 745px;
$vk-hover-y: 0px;
$vk-hover-offset-x: -745px;
$vk-hover-offset-y: 0px;
$vk-hover-width: 32px;
$vk-hover-height: 18px;
$vk-hover-total-width: 829px;
$vk-hover-total-height: 32px;
$vk-hover-image: '../img/sprite.png';
$vk-hover: (745px, 0px, -745px, 0px, 32px, 18px, 829px, 32px, '../img/sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 797px;
$vk-y: 0px;
$vk-offset-x: -797px;
$vk-offset-y: 0px;
$vk-width: 32px;
$vk-height: 18px;
$vk-total-width: 829px;
$vk-total-height: 32px;
$vk-image: '../img/sprite.png';
$vk: (797px, 0px, -797px, 0px, 32px, 18px, 829px, 32px, '../img/sprite.png', 'vk', );
$spritesheet-width: 829px;
$spritesheet-height: 32px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-bottom-hover, $arrow-bottom, $arrow-left-right, $arrow-top-bottom, $arrow-top-hover, $arrow-top, $fb-hover, $fb, $icon-download, $oneoff-hover, $oneoff, $oneon, $thumbsup-hover, $thumbsup, $tileoff-hover, $tileoff, $tileon, $tw-hover, $tw, $vk-hover, $vk, );
$spritesheet: (829px, 32px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
