extends template/main_layout

block title

block content
	include include/section

<<<<<<< Updated upstream
	include aside
		include include/upload
		include include/move
		include include/opacity
		include include/buttons
=======
	include include/aside
>>>>>>> Stashed changes
