doctype html
html
	head
		link(rel='icon' type='image/png' href='img/favicon.ico')
		link(rel='stylesheet' type='text/css' href='bower/normalize-css/normalize.css')
		meta(charset='utf-8')
		title 
			block title
		link(rel='stylesheet' type='text/css' href='css/main.min.css')
		link(rel='stylesheet' type='text/css' href='css/fonts.css')
		
	body
		.wrapper
			.main
				.container
					block content

		include ../include/footer

