@font-face {
    font-family: 'SegoeUILight';
    src: url('../fonts/SegoeUILight.eot');
    src: url('../fonts/SegoeUILight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SegoeUILight.woff') format('woff'),
         url('../fonts/SegoeUILight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 @font-face{
    font-family: roboto-light;
    src:url(../fonts/roboto-light-web.eot);
    src:url(../fonts/roboto-light-web.eot?#iefix) format('embedded-opentype'),
    url(../fonts/roboto-light-web.woff) format('woff'),
    url(../fonts/roboto-light-web.ttf) format('truetype'),
    url(../fonts/roboto-light-web.svg#robotolight) format('svg');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:roboto-medium;
        src:url(../fonts/roboto-medium-web.eot);
        src:
        url(../fonts/roboto-medium-web.eot?#iefix) format('embedded-opentype'),
        url(../fonts/roboto-medium-web.woff) format('woff'),
        url(../fonts/roboto-medium-web.ttf) format('truetype'),
        url(../fonts/roboto-medium-web.svg#robotomedium) format('svg');
        font-weight:400;
        font-style:normal;
    } 

@font-face{
    font-family:fira_sanslight;
    src:url(../fonts/firasans-light-webfont.eot);
    src:
    url(../fonts/firasans-light-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/firasans-light-webfont.woff) format('woff'),
    url(../fonts/firasans-light-webfont.ttf) format('truetype'),
    url(../fonts/firasans-light-webfont.svg#fira_sanslight);font-weight:400;font-style:normal
}